.blog {
    width: 100%;
    background-color: var(--bg);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 60px;
}
.card {
    display: flex; /* Чтобы изображение и контент были рядом */
    gap: 30px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

.image {

    width: 350px;
    height: 220px;
    flex-shrink: 0;

    object-fit: cover;

    display: block;
    border-radius: 10px 0 0 10px;

    background: none;
}

@media (max-width: 900px) {
    .card {
        flex-direction: column;
    }
    .image {
        width: 100%;
        height: 250px;
        border-radius: 10px 10px 0 0;
    }
}